assimant 3
Ofek Biton
209062264

In [16]:
import pandas as pd
import requests
# !pip install googlemaps
# my api key = AIzaSyBmqTwZe-SM8QPqv7fvGkPPwYZ1suLHvkY

In [19]:
# Read destinations from the file
with open('dests.txt', 'r') as f:
    destinations = f.read().splitlines()

# Set up data for API calls - 
api_key = 'AIzaSyBmqTwZe-SM8QPqv7fvGkPPwYZ1suLHvkY'
origins = 'Tel Aviv'
url_distance_matrix = 'https://maps.googleapis.com/maps/api/distancematrix/json'
url_geocode = 'https://maps.googleapis.com/maps/api/geocode/json'

# Set up data - 
my_data = {
    'Target': [],
    'Distance_km': [],
    'Duration (hour+minutes)': [],
    'Longitude': [],
    'Latitude': []
}

# Loop through destinations
for destination in destinations:
    params_distance_matrix = {
        'origins': origins,
        'destinations': destination,
        'key': api_key
    }
    
    response_distance_matrix = requests.get(url_distance_matrix, params=params_distance_matrix)
    distance_matrix_data = response_distance_matrix.json()
    # Geocode API call
    params_geocode = {
        'address': destination,
        'key': api_key
    }
    
    response_geocode = requests.get(url_geocode, params=params_geocode)
    geocode_data = response_geocode.json()
    
    # Extract data from API responses
    distance_km = distance_matrix_data['rows'][0]['elements'][0]['distance']['value'] / 1000
    duration_min = distance_matrix_data['rows'][0]['elements'][0]['duration']['value'] / 60
    duration_str = f"{int(duration_min // 60)} hours {int(duration_min % 60)} minutes"
    longitude = geocode_data['results'][0]['geometry']['location']['lng']
    latitude = geocode_data['results'][0]['geometry']['location']['lat']
    
    # Add data to DataFrame 
    my_data['Target'].append(destination)
    my_data['Distance_km'].append(distance_km)
    my_data['Duration (hour+minutes)'].append(duration_str)
    my_data['Longitude'].append(longitude)
    my_data['Latitude'].append(latitude)

In [20]:
# Create DataFrame
new_data = pd.DataFrame(my_data)
new_data

      Target  Distance_km Duration (hour+minutes)  Longitude   Latitude
0   Istanbul     1815.227      21 hours 2 minutes  28.978359  41.008238
1  Amsterdam     4532.541      48 hours 3 minutes   4.904139  52.367573
2   Valletta     3792.883     50 hours 51 minutes  14.514100  35.899237
3      Basel     4093.629      44 hours 7 minutes   7.588576  47.559599
4       Doha     2164.477     22 hours 38 minutes  51.531040  25.285447

In [21]:
# Find the 3 cities furthest from Tel Aviv
furthest_cities = new_data.nlargest(3, 'Distance_km')['Target']
furthest_cities

1    Amsterdam
3        Basel
2     Valletta
Name: Target, dtype: object